{
    "root": true,
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "sourceType": "module"
    },
    "rules": {
        "array-callback-return": "error",
        "arrow-parens": ["error", "as-needed"],
        "arrow-body-style": ["warn", "as-needed"],
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "camelcase": "warn",
        "dot-notation": "error",
        "eqeqeq": "error",
        // "func-names": ["warn", "always"],
        "func-style": ["error", "expression"],
        "id-length": ["warn", { "min": 2, "max": 15 }],
        "indent": ["error", 4],
        "new-cap": "warn",
        "no-array-constructor": "error",
        "no-case-declarations": "error",
        "no-const-assign": "warn",
        "no-else-return": "error",
        "no-eval": "error",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-multi-spaces": "error",
        "no-nested-ternary": "error",
        "no-plusplus": "error",
        "no-this-before-super": "warn",
        "no-trailing-spaces": "error",
        "no-undef": "warn",
        "no-unneeded-ternary": "warn",
        "no-unreachable": "error",
        "no-unused-vars": "warn",
        "no-var": "error",
        "no-new-object": "error",
        "object-curly-spacing": ["warn", "always"],
        "object-shorthand": "error",
        "padded-blocks": ["warn", "never"],
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "quotes": ["error", "single"],
        "quote-props": ["error", "as-needed"],
        "radix": "error",
        "semi": ["warn", "never"],
        "space-before-function-paren": ["error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
            }],
        "template-curly-spacing": ["error", "never"],
        "wrap-iife": ["error", "inside"]
    }
}
